
body {
	min-width:350px;
	min-height:300px;
	border: 1px solid black;
}


.input>*{
	position: relative;
	display: block;
}
.input textarea{
	margin: 0;
	padding:0;
	border:0;
	border-bottom: 1px solid black;
	padding-top:5px;
	width:100%;
	min-height: 250px;
	resize: none;
	overflow: auto;
	background-color: #F6E3E3;
}
.input textarea::-moz-placeholder { 
  color: #1221DA;
}

.controls{
	padding:0;
	border:0;
	border: 0;
	width:100%;
	height:47px;
	margin:auto;
	background-color: #F6E3E3;
}
.controls >*{
	position:relative;
	border: 0px;
	background-color: #57FD4E;
	height: 47px;
}
.controls >*:hover{
	background-color: #FF758A;
	cursor: pointer;
}

